/* Scrolling Sections */
#scroll-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.section-header {
    font-size: 3rem;
    color: #ffcc00;
    margin-bottom: 60px;
    margin-left: 5%;
    text-align: left;
    white-space: nowrap;
}

section h1, section p {
    text-align: left;
}

.animated-icons span {
    font-size: 1.2em;
    animation: float 1.5s ease-in-out infinite;
    display: inline-block;
    margin-left: 5px;
}

.animated-icons span:nth-child(1) {
    animation-delay: 0s; /* First icon */
}

.animated-icons span:nth-child(2) {
    animation-delay: 0.5s; /* Second icon */
}

.animated-icons span:nth-child(3) {
    animation-delay: 1s; /* Third icon */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Moves the icons up slightly */
    }
}
